
  .border{
      padding-right: 10px;
      border-right: 1px solid black;
      
  }
  .image_2{
      margin-top: 100px;
  }
  .banner_taital{
      font-weight: 450;
      font-size: 70px;
      margin-top: 150px;
      color: rgb(68, 68, 68);
  }